{{ define "footer-bottom" }}
<div class="footer-bottom">
  <div class="container">
    <p class="pull-left">
      &copy; VITICA 2015. All right reserved.
    </p>

    <div class="pull-right paymentMethodImg">
      <img height="30" class="pull-right" src="/images/site/payment/master_card.png" alt="img">
      <img height="30" class="pull-right" src="/images/site/payment/visa_card.png" alt="img">
      <img height="30" class="pull-right" src="/images/site/payment/paypal.png" alt="img">
      <img height="30" class="pull-right" src="/images/site/payment/american_express_card.png" alt="img">
      <img height="30" class="pull-right" src="/images/site/payment/discover_network_card.png" alt="img">
      <img height="30" class="pull-right" src="/images/site/payment/google_wallet.png" alt="img">
    </div>
  </div>
</div>
<!--/.footer-bottom-->
{{ end }}
