{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "head" }}
  {{ template "title" . }}
</head>
<body>
{{ template "login" }}
{{ template "signup" }}
{{ template "navbar" }}

<div class="container main-container headerOffset">
  {{ yield }}
</div>
<!-- /.main-container -->

<div class="gap"></div>
<footer>
  {{ template "footer" }}
  {{ template "footer-bottom" }}
</footer>

{{ template "scripts" }}
</body>
</html>
{{ end }}